@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/material/MaterialIcons-Regular.eot);
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(/fonts/material/MaterialIcons-Regular.woff2) format('woff2'),
        url(/fonts/material/MaterialIcons-Regular.woff) format('woff'),
        url(/fonts/material/MaterialIcons-Regular.ttf) format('truetype');
}

.wf-loading .material-icons,
.wf-materialicons-n4-inactive .material-icons {
    display: none;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

/* roboto-100 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'),
        url('/fonts/roboto/roboto-v18-latin-100.woff2') format('woff2'),
        url('/fonts/roboto/roboto-v18-latin-100.woff') format('woff');
}
/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
        url('/fonts/roboto/roboto-v18-latin-300.woff2') format('woff2'),
        url('/fonts/roboto/roboto-v18-latin-300.woff') format('woff');
}
/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
        url('/fonts/roboto/roboto-v18-latin-regular.woff2') format('woff2'),
        url('/fonts/roboto/roboto-v18-latin-regular.woff') format('woff');
}
/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('/fonts/roboto/roboto-v18-latin-500.woff2') format('woff2'),
        url('/fonts/roboto/roboto-v18-latin-500.woff') format('woff');
}
/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('/fonts/roboto/roboto-v18-latin-700.woff2') format('woff2'),
        url('/fonts/roboto/roboto-v18-latin-700.woff') format('woff');
}
/* roboto-900 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'),
        url('/fonts/roboto/roboto-v18-latin-900.woff2') format('woff2'),
        url('/fonts/roboto/roboto-v18-latin-900.woff') format('woff');
}

/* nunito-200 - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 200;
    src: local('Nunito ExtraLight'), local('Nunito-ExtraLight'),
        url('/fonts/nunito/nunito-v9-latin-200.woff2') format('woff2'),
        url('/fonts/nunito/nunito-v9-latin-200.woff') format('woff');
}
/* nunito-300 - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    src: local('Nunito Light'), local('Nunito-Light'),
        url('/fonts/nunito/nunito-v9-latin-300.woff2') format('woff2'),
        url('/fonts/nunito/nunito-v9-latin-300.woff') format('woff');
}
/* nunito-regular - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Regular'), local('Nunito-Regular'),
        url('/fonts/nunito/nunito-v9-latin-regular.woff2') format('woff2'),
        url('/fonts/nunito/nunito-v9-latin-regular.woff') format('woff');
}
/* nunito-700 - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: local('Nunito Bold'), local('Nunito-Bold'),
        url('/fonts/nunito/nunito-v9-latin-700.woff2') format('woff2'),
        url('/fonts/nunito/nunito-v9-latin-700.woff') format('woff');
}
/* nunito-900 - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    src: local('Nunito Black'), local('Nunito-Black'),
        url('/fonts/nunito/nunito-v9-latin-900.woff2') format('woff2'),
        url('/fonts/nunito/nunito-v9-latin-900.woff') format('woff');
}

/* ubuntu-mono-regular - latin */
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Mono'), local('UbuntuMono-Regular'),
         url('/fonts/umono/ubuntu-mono-v9-latin-regular.woff2') format('woff2'),
         url('/fonts/umono/ubuntu-mono-v9-latin-regular.woff') format('woff');
}