.v-attachment
    position: relative
    padding-top: 12px

    &__list
        min-height: 0px
        position: relative
        margin-bottom: 8px
        transition: 0.3s min-height cubic-bezier(0.25, 0.8, 0.5, 1);

    &__item
        position: relative

    &__hold
        display: flex
        height: 36px
        align-items: center

    &__icon
        height: 24px
        width: 24px
    
    &__text
        flex: 1 1 0
        margin-left: 8px
        margin-right: 8px
        align-items: center