.v-card 
    > .v-bottom-navigation:last-child
        border-radius: 0 !important
    
    &--widget
        border: 1px solid rgba(17,17,17,0.1)
    
    &--flat
        &.v-sheet
            border-radius: 0