@import '~vuetify/dist/vuetify.css';

@import './card';
@import './datatable';
@import './document';
@import './editor';
@import './filebrowser';
@import './header';
@import './mobile';
@import './navdrawer';
@import './other';
@import './page';
@import './pdfviewer';
@import './sheet';
@import './textfield';
@import './toolbar';
@import './uploader';
@import './user';