.v-toolbar
    &&--flat
        &:not(.no-shadow):after
            bottom: -1px
            content: ''
            height: 1px
            pointer-events: none
            position: absolute
            left: 0
            right: 0
            width: 100%
            background: rgba(17, 17, 17, .06)

    
    .v-text-field--outlined 
        > .v-input__control > .v-input__slot
            min-height: 48px

        .v-label
            top: 16px