.v-uploader
    position: relative

    &__button
        cursor: pointer
        position: absolute !important
        height: 100%
        width: 100%
        z-index: 1

        input
            font-size: 29px !important
            width: calc(100% + 185px)

    &.v-btn
        & ^[0]__button
            border-radius: 50%

        &:before
            border-radius: 50%
        